<span class="created-by">
  <p>  
    Made with ♥ by <b><a href="https://mainflux.com" target="_blank">Mainflux</a></b> 2020
  </p>
  <div class="disclaimer">
    <img src="https://europa.eu/european-union/sites/europaeu/files/docs/body/flag_yellow_low.jpg" alt="EU Flag" width="75" height="50">    
    <em>{{disclaimer}}</em>
  </div>
</span>
<div class="socials">
  <!-- <a href="https://github.com/mainflux/mainflux" target="_blank" class="ion ion-social-github"></a> -->
  <a href="http://www.ashvin.eu/" target="_blank" class="ion ion-hammer"></a>
  <a href="https://twitter.com/ashvinh2020" target="_blank" class="ion ion-social-twitter"></a>
  <a href="https://www.linkedin.com/company/ashvin-h2020/" target="_blank" class="ion ion-social-linkedin"></a>
</div>
